$orange: #FF5C00;
$dark-gray: #202020; 
$gray: #D9D9D9;

.blogs{
    color: black;
    &-body{
        width: 100%;
        display: flex;
        gap: 20px;
        justify-content: space-between;
        margin: 70px 0;
        
    }
    &-side-bar{
        width: 30%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        &__search{
            display: flex;
            & input{
                width: 100%;
                padding: 14px 24px;
                border-radius: 5px 0 0 5px;
                border: 1px solid $dark-gray;
                
            }
            &-button{
                display: flex;
                padding: 14px 20px;
                background-color: $orange;
                border-radius: 0 5px 5px 0;
                border-top: 1px solid $dark-gray;
                border-right: 1px solid $dark-gray;
                border-bottom: 1px solid $dark-gray;
                cursor: pointer;
            }
        }
        &__title{
            background-color: $orange;
            padding: 15px 15px;
            font-size: 16px;
            font-weight: 700;
            color: #fff;
            text-transform: uppercase;
        }
    
        &__categoryes{
            & a{
                display: flex;
                gap: 10px;
                align-items: center;
                width: 100%;
                padding: 10px 15px;
                border-bottom: 1px solid $dark-gray;
                color: #000;
            }
        }
        &__last{
            display: flex;
            gap: 25px;
            align-items: center;
            padding: 15px;
            font-weight: 600;
            font-size: 16px;
        }
    }
    &-cards{
        display: flex;
        flex-direction: column;
        gap: 85px;
        width: 65%;
 
    }
    &-card{
        &__header{
            display: flex;
            align-items: center;
            justify-content: space-between;
            &-info{
                display: flex;
                align-items: center;
                gap: 10px;
                margin: 20px 0 0 0;
                color: $orange;
                font-weight: 600;
                font-size: 16px;
            }
        }
        &__title{
            margin: 20px 0 0 0;
            font-size: 28px;
            font-weight: 800;
            line-height: 33px;
        }
        &__text{
            margin: 10px 0 0 0;
            font-weight: 600;
        }
        &__more{
            &.button-b{
                width: 225px;
                margin: 40px 0 0 0 !important;
                & a{
                    
                    display: flex;
                    gap: 10px;
                }
            }
        }
    }
}